# Cash Deposit Prediction

### Project Overview

The data given is of cash deposits made in particular branches of a bank.
The description of the features is given below:

#### Features:
- **Serial Number**: Unique identifier for each data point relationship
- **Main Office**: Is the branch where the deposit was made the main office of the bank. 0 signifies no and 1 signifies yes
- **Branch Number**: Internally used identification number of the branch or certain branches
- **Establishment Date and Acquired Date**: The date at which the bank branch was established and acquired by the specific bank franchise
- **City, Country and State**: Geographical Details of the bank branch
- **Year Deposits Variables(2010,2011,2012,2013,2014,2015)**: Deposit amount in U.S. dollars for specific branch for a specific year

#### Target:
- **2016 Deposits**

#### Objective:
The objective is to predict the cash deposit amount for branches for the year of 2016

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Cashdeposit-GP.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3790 entries, 0 to 3789
Data columns (total 15 columns):
Serial Number       3790 non-null int64
Main Office         3790 non-null int64
Branch Number       3790 non-null int64
Established Date    3790 non-null object
Acquired Date       2297 non-null object
City                3790 non-null object
County              3790 non-null object
State               3790 non-null object
2010 Deposits       3050 non-null float64
2011 Deposits       3212 non-null float64
2012 Deposits       3461 non-null float64
2013 Deposits       3615 non-null float64
2014 Deposits       3734 non-null float64
2015 Deposits       3771 non-null float64
2016 Deposits       3790 non-null int64
dtypes: float64(6), int64(4), object(5)
memory usage: 444.3+ KB

In [4]:
df.head()

,Serial Number,Main Office,Branch Number,Established Date,Acquired Date,City,County,State,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,1,0,2866,02/06/1910,11/13/2004,Wales,Waukesha,WI,21386.0,23981.0,24825.0,26908.0,30681.0,30680.0,37564
1,2,0,2867,02/28/1910,11/13/2004,Germantown,Washington,WI,55454.0,56564.0,64732.0,73523.0,81357.0,89270.0,106177
2,3,0,2868,05/06/1907,11/13/2004,Brookfield,Waukesha,WI,90882.0,104300.0,125038.0,125906.0,132501.0,137363.0,145054
3,4,0,2869,06/20/1936,11/13/2004,Pewaukee,Waukesha,WI,45674.0,49288.0,53251.0,70402.0,74742.0,73837.0,85996
4,5,0,2870,04/22/1963,11/13/2004,Waukesha,Waukesha,WI,64181.0,72217.0,69920.0,80703.0,75971.0,73225.0,81706

In [5]:
df.isnull().sum()

Serial Number          0
Main Office            0
Branch Number          0
Established Date       0
Acquired Date       1493
City                   0
County                 0
State                  0
2010 Deposits        740
2011 Deposits        578
2012 Deposits        329
2013 Deposits        175
2014 Deposits         56
2015 Deposits         19
2016 Deposits          0
dtype: int64

In [6]:
#Modifying column names
df.columns = df.columns.str.lower()

In [7]:
df.columns = df.columns.str.replace(' ','_')

In [8]:
df.columns

Index(['serial_number', 'main_office', 'branch_number', 'established_date',
       'acquired_date', 'city', 'county', 'state', '2010_deposits',
       '2011_deposits', '2012_deposits', '2013_deposits', '2014_deposits',
       '2015_deposits', '2016_deposits'],
      dtype='object')

In [9]:
df.dtypes

serial_number         int64
main_office           int64
branch_number         int64
established_date     object
acquired_date        object
city                 object
county               object
state                object
2010_deposits       float64
2011_deposits       float64
2012_deposits       float64
2013_deposits       float64
2014_deposits       float64
2015_deposits       float64
2016_deposits         int64
dtype: object

In [10]:
#Replacing NaN object with np.NaN
df.replace('NaN',np.nan, inplace=True)

In [11]:
df

,serial_number,main_office,branch_number,established_date,acquired_date,city,county,state,2010_deposits,2011_deposits,2012_deposits,2013_deposits,2014_deposits,2015_deposits,2016_deposits
0,1,0,2866,02/06/1910,11/13/2004,Wales,Waukesha,WI,21386.0,23981.0,24825.0,26908.0,30681.0,30680.0,37564
1,2,0,2867,02/28/1910,11/13/2004,Germantown,Washington,WI,55454.0,56564.0,64732.0,73523.0,81357.0,89270.0,106177
2,3,0,2868,05/06/1907,11/13/2004,Brookfield,Waukesha,WI,90882.0,104300.0,125038.0,125906.0,132501.0,137363.0,145054
3,4,0,2869,06/20/1936,11/13/2004,Pewaukee,Waukesha,WI,45674.0,49288.0,53251.0,70402.0,74742.0,73837.0,85996
4,5,0,2870,04/22/1963,11/13/2004,Waukesha,Waukesha,WI,64181.0,72217.0,69920.0,80703.0,75971.0,73225.0,81706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3785,3786,0,7981,11/03/2015,NaN,Compton,Los Angeles,CA,NaN,NaN,NaN,NaN,NaN,NaN,3446
3786,3787,0,7982,02/02/2016,NaN,Las Vegas,Clark,NV,NaN,NaN,NaN,NaN,NaN,NaN,2666
3787,3788,0,7984,03/15/2016,NaN,Irvine,Orange,CA,NaN,NaN,NaN,NaN,NaN,NaN,6689
3788,3789,0,7988,01/01/2016,NaN,New Orleans,Orleans,LA,NaN,NaN,NaN,NaN,NaN,NaN,94133
3789,3790,0,7989,01/01/2016,NaN,Buffalo,Erie,NY,NaN,NaN,NaN,NaN,NaN,NaN,45596

In [12]:
df.isnull().sum()

serial_number          0
main_office            0
branch_number          0
established_date       0
acquired_date       1493
city                   0
county                 0
state                  0
2010_deposits        740
2011_deposits        578
2012_deposits        329
2013_deposits        175
2014_deposits         56
2015_deposits         19
2016_deposits          0
dtype: int64

In [13]:
df.set_index(keys='serial_number',inplace=True,drop=True)

In [14]:
# changing to date time format

df.established_date = pd.to_datetime(df.established_date)

In [15]:
df.acquired_date = pd.to_datetime(df.acquired_date)

In [16]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [17]:
#Train test split

from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.25,random_state=3)

In [18]:
time_col = ['established_date', 'acquired_date']

In [19]:
#Duration of funds from inception

for col_name in time_col:
    new_col_name = "since_" + col_name
    X_train[new_col_name] = pd.datetime.now() - X_train[col_name]
    X_train[new_col_name] = X_train[new_col_name].apply(lambda x: float(x.days)/365)
    X_train.drop(columns = col_name, inplace=True)
    
    X_val[new_col_name] = pd.datetime.now() - X_val[col_name]
    X_val[new_col_name] = X_val[new_col_name].apply(lambda x: float(x.days)/365)
    X_val.drop(columns=col_name,inplace=True)

C:\Users\Mrunal\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Mrunal\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Mrunal\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Mrunal\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Mrunal\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [20]:
#Filling missing values and encoding categorical features

X_train = X_train.fillna(0)
X_val = X_val.fillna(0)

In [21]:
categorical = df.select_dtypes(include='O')

In [22]:
categorical = categorical.columns.tolist()

In [23]:
categorical

['city', 'county', 'state']

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for x in categorical:
    X_train[x] = le.fit_transform(X_train[x])
    X_val[x] = le.fit_transform(X_val[x])
    
X_train_temp = pd.get_dummies(data=X_train, columns=categorical)
X_val_temp = pd.get_dummies(data=X_val, columns=categorical)

In [25]:
from sklearn.linear_model import LinearRegression

linreg = LinearRegression()
linreg.fit(X_train_temp, y_train)
y_pred1 = linreg.predict(X_val_temp)

score = linreg.score(X_val_temp,y_val)
print("Accuracy:",score)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 1552 is different from 800)

#### Observation

- Some of the models like Linear Regression requires the data to be one hot encoded for the model to work efficiently.
- **The shape error we faced in the previous task while applying Linear regression was due to one hot encoding applied on the dataset.**
- Some categories present in the train data set were not present in the test data set and so the shape of both the dataframes did not match.
- So one of the methods to tackle this is that to use tree based algorithm.
- A major advantage of decision tree models and their ensemble counterparts, random forests, is that they are able to operate on both continuous and categorical variables directly.
- In contrast, most other popular models (e.g.,Linear regresion) must instead transform categorical variables into some numerical analog, usually by one-hot encoding them to create a new dummy variable.

In [26]:
#Fitting model

from sklearn.tree import DecisionTreeRegressor
import math
from sklearn.metrics import mean_squared_error

dt = DecisionTreeRegressor(random_state=5)
dt.fit(X_train,y_train)
y_pred = dt.predict(X_val)

score = dt.score(X_val,y_val)
print("Accuracy:",score)

mse = mean_squared_error(y_val,y_pred)
rmse = math.sqrt(mse)
print("Rmse:",rmse)

Accuracy: 0.9333991141166543
Rmse: 68372.52930639003

In [27]:
from xgboost import XGBRegressor

xgb = XGBRegressor(max_depth=50, learning_rate=0.83, n_estimators=100)
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_val)

accuracy = xgb.score(X_val, y_val)
print("Accuracy:",score)

rmse = np.sqrt(mean_squared_error(y_val, y_pred))
print("Rmse:",rmse)

Accuracy: 0.9333991141166543
Rmse: 129468.29847399698